# Dependências
node_modules/
package-lock.json

# Variáveis de ambiente
.env

# Arquivos de upload
uploads/

# Logs
logs/
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

